* text=auto !eol
gcalendar-api/api/src/java/org/sakaiproject/gcalendar/api/SakaiGCalendarService.java -text
gcalendar-api/api/src/java/org/sakaiproject/gcalendar/cover/SakaiGCalendarService.java -text
gcalendar-impl/impl/src/java/org/sakaiproject/gcalendar/impl/SakaiGCalendarServiceImpl.java -text
gcalendar-tool/tool/src/java/org/sakaiproject/gcalendar/tool/GCalendarAction.java svn_keywords=Date+Revision+Author+HeadURL+Id
gcalendar-tool/tool/src/webapp/js/gcalendar.js -text
gcalendar-tool/tool/src/webapp/js/jquery-plugin-xdr.js -text svneol=unset#text/plain
gcalendar-tool/tool/src/webapp/vm/chef_gcalendar_delegateaccess.vm svn_keywords=Date+Revision+Author+HeadURL+Id
gcalendar-tool/tool/src/webapp/vm/chef_gcalendar_noaccess.vm -text
gcalendar-tool/tool/src/webapp/vm/chef_gcalendar_nocalendar.vm -text
library/fullcalendar/cupertino/images/ui-bg_diagonals-thick_90_eeeeee_40x40.png -text
library/fullcalendar/cupertino/images/ui-bg_flat_15_cd0a0a_40x100.png -text
library/fullcalendar/cupertino/images/ui-bg_glass_100_e4f1fb_1x400.png -text
library/fullcalendar/cupertino/images/ui-bg_glass_50_3baae3_1x400.png -text
library/fullcalendar/cupertino/images/ui-bg_glass_80_d7ebf9_1x400.png -text
library/fullcalendar/cupertino/images/ui-bg_highlight-hard_100_f2f5f7_1x100.png -text
library/fullcalendar/cupertino/images/ui-bg_highlight-hard_70_000000_1x100.png -text
library/fullcalendar/cupertino/images/ui-bg_highlight-soft_100_deedf7_1x100.png -text
library/fullcalendar/cupertino/images/ui-bg_highlight-soft_25_ffef8f_1x100.png -text
library/fullcalendar/cupertino/images/ui-icons_2694e8_256x240.png -text
library/fullcalendar/cupertino/images/ui-icons_2e83ff_256x240.png -text
library/fullcalendar/cupertino/images/ui-icons_3d80b3_256x240.png -text
library/fullcalendar/cupertino/images/ui-icons_72a7cf_256x240.png -text
library/fullcalendar/cupertino/images/ui-icons_ffffff_256x240.png -text
library/fullcalendar/cupertino/theme.css -text
library/fullcalendar/fullcalendar.css -text
library/fullcalendar/fullcalendar.js -text
library/fullcalendar/fullcalendar.min.js -text
library/fullcalendar/fullcalendar.print.css -text
library/fullcalendar/gcal.js -text
library/fullcalendar/js/jquery-ui-latest/css/smoothness/images/ui-bg_flat_0_aaaaaa_40x100.png -text
library/fullcalendar/js/jquery-ui-latest/css/smoothness/images/ui-bg_flat_75_ffffff_40x100.png -text
library/fullcalendar/js/jquery-ui-latest/css/smoothness/images/ui-bg_glass_55_fbf9ee_1x400.png -text
library/fullcalendar/js/jquery-ui-latest/css/smoothness/images/ui-bg_glass_65_ffffff_1x400.png -text
library/fullcalendar/js/jquery-ui-latest/css/smoothness/images/ui-bg_glass_75_dadada_1x400.png -text
library/fullcalendar/js/jquery-ui-latest/css/smoothness/images/ui-bg_glass_75_e6e6e6_1x400.png -text
library/fullcalendar/js/jquery-ui-latest/css/smoothness/images/ui-bg_glass_95_fef1ec_1x400.png -text
library/fullcalendar/js/jquery-ui-latest/css/smoothness/images/ui-bg_highlight-soft_75_cccccc_1x100.png -text
library/fullcalendar/js/jquery-ui-latest/css/smoothness/images/ui-icons_222222_256x240.png -text
library/fullcalendar/js/jquery-ui-latest/css/smoothness/images/ui-icons_2e83ff_256x240.png -text
library/fullcalendar/js/jquery-ui-latest/css/smoothness/images/ui-icons_454545_256x240.png -text
library/fullcalendar/js/jquery-ui-latest/css/smoothness/images/ui-icons_888888_256x240.png -text
library/fullcalendar/js/jquery-ui-latest/css/smoothness/images/ui-icons_cd0a0a_256x240.png -text
library/fullcalendar/js/jquery-ui-latest/css/smoothness/jquery-ui.css -text
library/fullcalendar/js/jquery-ui-latest/css/ui-lightness/images/ui-bg_diagonals-thick_18_b81900_40x40.png -text
library/fullcalendar/js/jquery-ui-latest/css/ui-lightness/images/ui-bg_diagonals-thick_20_666666_40x40.png -text
library/fullcalendar/js/jquery-ui-latest/css/ui-lightness/images/ui-bg_flat_10_000000_40x100.png -text
library/fullcalendar/js/jquery-ui-latest/css/ui-lightness/images/ui-bg_glass_100_f6f6f6_1x400.png -text
library/fullcalendar/js/jquery-ui-latest/css/ui-lightness/images/ui-bg_glass_100_fdf5ce_1x400.png -text
library/fullcalendar/js/jquery-ui-latest/css/ui-lightness/images/ui-bg_glass_65_ffffff_1x400.png -text
library/fullcalendar/js/jquery-ui-latest/css/ui-lightness/images/ui-bg_gloss-wave_35_f6a828_500x100.png -text
library/fullcalendar/js/jquery-ui-latest/css/ui-lightness/images/ui-bg_highlight-soft_100_eeeeee_1x100.png -text
library/fullcalendar/js/jquery-ui-latest/css/ui-lightness/images/ui-bg_highlight-soft_75_ffe45c_1x100.png -text
library/fullcalendar/js/jquery-ui-latest/css/ui-lightness/images/ui-icons_222222_256x240.png -text
library/fullcalendar/js/jquery-ui-latest/css/ui-lightness/images/ui-icons_228ef1_256x240.png -text
library/fullcalendar/js/jquery-ui-latest/css/ui-lightness/images/ui-icons_ef8c08_256x240.png -text
library/fullcalendar/js/jquery-ui-latest/css/ui-lightness/images/ui-icons_ffd27a_256x240.png -text
library/fullcalendar/js/jquery-ui-latest/css/ui-lightness/images/ui-icons_ffffff_256x240.png -text
library/fullcalendar/js/jquery-ui-latest/css/ui-lightness/jquery-ui.css -text
library/fullcalendar/js/jquery-ui-latest/js/jquery-ui-1.8.17.custom.min.js -text
library/fullcalendar/js/jquery-ui-latest/js/jquery-ui.min.js -text
library/fullcalendar/js/jquery-ui-latest/js/jquery.min.js -text
library/fullcalendar/js/jquery/1.7.1/jquery-1.7.1.min.js -text
