## $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/admin/chef_aliases_list.vm,v 1.2 2005/05/19 19:53:01 gsilver.umich.edu Exp $

<link rel='stylesheet' type='text/css' href='/library/fullcalendar/cupertino/theme.css' />
<link rel='stylesheet' type='text/css' href='/library/fullcalendar/fullcalendar.css' />
<link rel='stylesheet' type='text/css' href='/library/fullcalendar/fullcalendar.print.css' media='print' />
<script type='text/javascript' src='/library/js/jquery/1.7.1/jquery-1.7.1.min.js'></script>
<script type='text/javascript' src='/library/js/jquery-ui-latest/js/jquery-ui-1.8.17.custom.min.js'></script>
<script type='text/javascript' src='/library/fullcalendar/fullcalendar.min.js'></script>
<script type='text/javascript' src='/library/fullcalendar/gcal.js'></script>

<div class="portletBody">
	#if($menu)
		#toolbar($menu)
	#end	

 	<font color="red">$tlang.getString("gcal.auth.failed")</font>


</div>

