## $Header: /cvs/sakai2/legacy/tools/src/webapp/vm/admin/chef_aliases_list.vm,v 1.2 2005/05/19 19:53:01 gsilver.umich.edu Exp $

<link rel='stylesheet' type='text/css' href='/library/fullcalendar/fullcalendar.css' />  ## for some of the formatting of the header
<link rel='stylesheet' type='text/css' href='/library/fullcalendar/fullcalendar.print.css' media='print' />
<link rel='stylesheet' type='text/css' href='/library/js/jquery/ui/1.8.4/css/ui-lightness/jquery-ui-1.8.4.full.css'/> ## Grid lines, buttons, today highlight

<link rel='stylesheet' type='text/css' href='/sakai-gcalendar-tool/js/timepicker/lib/base.css'/> ## Used in Timepicker style
<link rel='stylesheet' type='text/css' href='/sakai-gcalendar-tool/js/timepicker/jquery.timepicker.css'/> ## Timepicker style
<link rel='stylesheet' type='text/css' href='/sakai-gcalendar-tool/css/gcalendar.css'/> ## Any custom style to use with gcal

<script type='text/javascript' src='/library/fullcalendar/js/jquery/1.7.1/jquery-1.7.1.min.js'></script> ## handles eventclick
<script type='text/javascript' src='/library/js/jquery/ui/1.8.4/jquery-ui-1.8.4.full.min.js'></script> ## for dayClick
<script type='text/javascript' src='/library/fullcalendar/lib/jquery-ui.custom.min.js'></script> ## new js library for UI code

<script type='text/javascript' src='/library/fullcalendar/fullcalendar.min.js'></script>

<script type='text/javascript' src='/sakai-gcalendar-tool/js/timepicker/lib/base.js'></script> ## Used in timepicker plugin
<script type='text/javascript' src='/sakai-gcalendar-tool/js/timepicker/jquery.timepicker.min.js'></script> ## Plugin for timepicker

<script type='text/javascript' src='/sakai-gcalendar-tool/js/gcalendar.js'></script>
<div class="portletBody">
#if($menu)
	<ul class="navIntraTool actionToolBar" role="menu">
		<li class="firstToolBarItem" role="menuitem"><span><a href="#" title="GCalendar Menu" onclick="location = '#toolLink("$action" "doPermissions")';return false;">
			$tlang.getString("java.permissions")
		<span class="skip">$toolTitle</span>
		</a></span></li>
	</ul>
#end
	
	<h3>
		$tlang.getString("gcal.title")
	</h3>
	<textarea id="accesstoken" style="visibility:hidden; display:none;">$accesstoken</textarea>
	<textarea id="gcalid" style="visibility:hidden; display:none;">$gcalid</textarea>
	<textarea id="viewDetailsAllowed" style="visibility:hidden; display:none;">$viewDetailsAllowed</textarea>
	<textarea id="createEventsAllowed" style="visibility:hidden; display:none;">$createEventsAllowed</textarea>
	<textarea id="gcalview" style="visibility:hidden; display:none;">$gcalview</textarea>
	<textarea id="menu" style="visibility:hidden; display:none;">$menu</textarea>
	<br>
	<br>
	
##full calendar
<script type='text/javascript'>
	var accesstoken = '${accesstoken}';
	var gcalid = '${gcalid}';
	var viewDetailsAllowed = '${viewDetailsAllowed}';
	var createEventsAllowed = '${createEventsAllowed}';
	var gcalview = '${gcalview}';
	var menu = '${menu}';
	var baseUrl = '${baseUrl}';
	var proxyName = '${proxyName}';
	var userTimeZone = '${userTimeZone}';
	
	$(document).ready(function() {
	
		getGoogleCalendar(accesstoken, gcalid);
		
	});

</script>

<style type='text/css'>

	body {
		text-align: left;
		font-size: 14px;
		font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
		}
		
	#loading {
		position: absolute;
		top: 5px;
		}

	#calendar {
		width: 100%;
		margin-left:0;
		}

</style>
<body>
<div id='loading' style='display:none'></div>
<div id='calendar'></div>

<div class="newEventTemplate" style="display:none">
	<p>$tlang.getString("gcal.event.date") <span class="newEventDate"></span></p>
	<p><label for="newEventTitle">$tlang.getString("gcal.event.title") </label><input type="text" id="newEventTitle" class="newEventTitle"/></p>
	<p><label for="newEventAllDay">$tlang.getString("gcal.event.allday") </label><input type="checkbox" checked="checked" id = "newEventAllDay" class="newEventAllDay"/></p>
	<div class="newEventTimeClass">
		<table>
			<tr>
				<td>
					<label for="newEventStartTime" style="vertical-align:top">$tlang.getString("gcal.event.start") </label>
				</td>
				<td style="width: 90px">
					<input type="text" id="newEventStartTime" class="time">
				</td>
				<td>
					<label for="newEventEndTime" style="vertical-align:top">$tlang.getString("gcal.event.end") </label>
				</td>
				<td style="width: 90px">
					<input type="text" id="newEventEndTime" class="time">
				</td>
			</tr>	
		</table>	
	</div>
	<p><input type="button" class="newEventSave" value='$tlang.getString("gcal.event.create")'></p>
</div>

<p>$tlang.getString("gcal.shareCalendar")<a href="$googlelink" target="_blank"> $googlelink</a></p>

</body>
</div>
